html, body, h1, h2, p {
	margin: 0;
	padding: 0;
	font-family: 'Inria Serif', serif;
	line-height: 1em;
}

html, body, .page {
	height: 100%;
	width: 100%;
}

.spacer {
	height: 0.75em;
}

.title {
	text-align: center;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.page {
	display: flex;
	justify-content: center;
}

.content {
	max-width: 30em;
	box-sizing: border-box;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.aaa {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cover {
	width: 225px;
	position: relative;
	right: 25px;
}

.quote {
	color: gray;
	font-size: 0.8em;
	font-style: italic;
}

.quote::before {
	content: "\201C";
	font-size: 1.5em;
	margin-right: 0.3em;
}

.quote::after {
	content: "\201D";
	font-size: 1.5em;
	margin-left: 0.3em;
}
